/* CSS HEX 
--royal-blue-traditional: #102572ff;
--fern-green: #547043ff;
*/
html {
  box-sizing: border-box;
  background-color: #946691;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  margin: auto 0;
  padding: 0;
  background-color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Barlow", serif;
  font-weight: 800;
  font-style: normal;
}

.main {
  margin: auto;
  padding: 1.5rem;
  max-width: 1100px;
  width: 100%;
}

h1 {
  font-size: 1.8em;
  margin-top: 0;
}

h2 {
  font-size: 1.3em;
  margin-top: 1.3em;
}

/* Header*/
.header {
  color: white;
  padding: 1.5rem;
  margin: 0;
  padding: 1.5rem;
  width: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.header__logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.header__link {
  text-decoration: none;
  color: purple;
}

/* Menu */
.menu {
  list-style: none;
  margin: 0;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 200px;
  background-color: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease;
  z-index: 999;
}
.menu--hidden {
  right: -100%;
}
.menu--visible {
  right: 0;
}
.menu__item {
  margin: 1rem 0;
}
.menu__link {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  padding-left: 20px;
}

/* Desktop */
@media screen and (min-width: 700px) {
  .menu {
    position: static;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    background-color: transparent;
    box-shadow: none;
  }
  .menu--hidden, .menu--visible {
    right: auto;
    padding: 0;
  }
  .menu__item {
    margin: 0 1rem;
  }
  .menu__link {
    color: #333;
    padding-left: 0;
  }
  .menu__hamburger {
    display: none !important;
  }
  .menu__link:hover {
    font-weight: bold;
  }
  .menu__item:last-child .menu__link {
    color: white;
    background-color: purple;
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }
}
/* Hamburger menu */
.menu {
  /* Hamburger animation when active */
}
.menu__hamburger {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 40px;
  cursor: pointer;
}
.menu__line {
  height: 4px;
  width: 100%;
  background-color: #333;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.menu__hamburger.active .menu__line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.menu__hamburger.active .menu__line:nth-child(2) {
  opacity: 0;
}
.menu__hamburger.active .menu__line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
.menu__item:last-child .menu__link {
  color: white;
  background-color: purple;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  padding-left: 1rem;
}

.footer {
  background-color: #946691;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1.5rem;
  width: 100%;
}
.footer__text, .footer__claim {
  margin: 0;
  font-size: 0.8rem;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
.portfolio__figure {
  position: relative;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin: 0;
  z-index: 1;
}
.portfolio__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}
.portfolio__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(128, 0, 128, 0.5);
  color: white;
  text-align: center;
  padding: 0.625rem;
  font-size: 0.8rem;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}
.portfolio__figure:hover .portfolio__caption {
  transform: translateY(0);
}
.portfolio __figure:hover .portfolio__image {
  transform: scale(1.1);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}
.gallery__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.gallery__item:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.form__body {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.form__input, .form__textarea {
  width: 100%;
  padding: 10px;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form__label {
  font-weight: 600;
  color: #333;
}
.form__button {
  font-size: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: purple;
  border: none;
  border-radius: 5px;
  width: 100px;
}
.form__button:hover {
  background-color: #500159;
}

.data__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  background-color: purple;
  text-decoration: none;
  margin-right: 1rem;
}
.data__contact-tel, .data__contact-link {
  text-decoration: none;
  color: #333;
}

.thanks {
  padding: 4rem 0;
  margin: 2rem 0;
  border-radius: 10px;
  text-align: center;
}
.thanks__link {
  text-decoration: none;
  color: #333;
}

@media screen and (min-width: 62.5rem) {
  .contact__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .data {
    grid-column: 2/3;
    grid-row: 1/3;
    padding-left: 2rem;
  }
  .data__title {
    margin: 1rem 0;
  }
}
.about {
  display: grid;
  grid-template-columns: 1fr;
}
.about__portrait {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

@media screen and (min-width: 50rem) {
  .about {
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
  .about__headline {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .about__image {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .about__text {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}/*# sourceMappingURL=style.css.map */