@use "colors";
@use "base";  

.form {
    &__body {
      display: flex;
      flex-direction: column;
      gap: 0.8em;
    }

    &__input,
    &__textarea {
      width: 100%;
      padding: 10px;
      font-size: 0.8rem;
      border: 1px solid #ccc;
      border-radius: 5px;
    }


    &__label {
      font-weight: bold;
      color: colors.$color-body;
    }

    &__button {
      font-size: 1rem;
      padding: 0.5rem;
      color: white;
      background-color: colors.$color-primary;
      border: none;
      border-radius: 0.5em;
      width: 100px;
    }
    
    &__button:hover {
      background-color: colors.$color-hover;
    }
}

.data {
  &__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5em;
  background-color: colors.$color-secondary;
  text-decoration: none;
  margin-right: 1rem;
  }

  &__contact-tel,
  &__contact-link {
    text-decoration: none;
    color: colors.$color-body;
  }
}

.thanks {
  padding: 4rem 0;
  margin: 2rem 0;
  border-radius: 10px;
  text-align: center;

  &__link {
    text-decoration: none;
    color: colors.$color-body;
  }
}

@media screen and (min-width: 62.5rem) {
  .contact__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .data {
    grid-column: 2/3;
    grid-row: 1/3;
    padding-left: 2rem;

    &__title {
      margin: 1rem 0;
    }
  }
}