@use"colors";

.footer {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 2rem;
    margin: 0 !important;
  
    &__text,
    &__claim {
        margin: 0;
        font-size: 0.8rem;
    }
  }