@use "colors";
@use "base"; 

.product {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 400px));
    gap: 1rem;

    &__title {
        grid-column: 1/-1;
        grid-row: 1/2;
    }

    &__item {
        grid-row: 2/3 ();
    }

    &__image {
        width: 100%;
        height: auto;
    }
}
